<h4>Оставьте свой адрес почты чтобы получить доступ к приложению одним из первых</h4>

<div id="mc_embed_signup">
  <form action="//club.us11.list-manage.com/subscribe/post?u=b8517c297d6437f46bfc289c6&amp;id=9e95e0c6fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="ваш email адрес" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_b8517c297d6437f46bfc289c6_9e95e0c6fc" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
</div>
